<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p id="p1">1sdf</p>
	<p>2sfes</p>
	<p>3ffeiisf</p>
<script src="/js/index.js" charset="utf-8"></script>
</body>
</html>